@import '../../../styles.scss';

.home {
  background-color: $background-vendedores;
  padding: 5% 6%;
  color: #192959;
  font-family: $letra-principal;

  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 10px;
  }

  h3 {
    font-family: $letra-principal;
    font-weight: 550;
    font-size: 22px;
    line-height: 34px;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  &__form {
    display: none;

    button {
      @extend .botones__boton;
    }
  }

  &__inspirado {

    &__container {
      display: flex;
      flex-direction: column;
      background-color: #CDD8FD;
      border: 1px #192959 solid;
      border-radius: 10px;
      justify-content: space-between;
      overflow: hidden;

      &:last-child {
        border-bottom: 0;
      }

      &__producto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #192959;
        width: 100%;
        padding: 3%;

        &:hover {
          background-color: #959db8;
          cursor: pointer;
        }

        &__texto {
          display: flex;
          flex-direction: row;
          width: 90%;
          overflow: hidden;

          &__medio {
            padding: 4.5px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            height: 80px;
            width: calc(100% - 100px);
            justify-content: space-between;
          }
        }

        &__iconos {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: right;
          width: 8%;
          padding: 4.5px 0px;

          :first-child {
            margin-right: 8px;
          }

          i {
            font-size: 16px;

            &:hover {
              color: white;
            }
          }
        }

        img {
          width: 80px;
          height: 80px;
          margin-right: 20px;
          object-fit: contain;
          border-radius: 10px;
          background-color: white;
          padding: 2%;
          border: 1px #0A1015 solid;
        }

        p {
          text-align: left;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 14px;
          font-weight: 550px;
          word-break: break-all;
        }

        h4 {
          font-size: 16px;
          height: 17px;
          line-height: 17px;
          margin: 0;
          font-weight: 600;
        }
      }
    }
  }

  &__ultimo {
    &__container {
      padding: 2.5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #9AB2FA;
      border: solid #192959 1px;
      border-radius: 10px;

      &__img {
        width: 70%;
        align-items: center;
        width: 16vw;
        height: 17vw;
        margin-right: 28px;

        img {
          width: 16vw;
          height: 17vw;
          object-fit: contain;
          border-radius: 10px;
          background-color: white;
          padding: 2%;
          border: 1px #0A1015 solid;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        height: 17vw;

        h4 {
          font-family: $letra-principal;
          font-weight: 500;
          font-size: 28px;
          line-height: 36px;
          word-break: break-all;
        }

        p {
          margin-top: 5px;
          font-family: $letra-principal;
          font-weight: 500;
          font-size: 17px;
          line-height: 24px;
          word-break: break-all;
        }

        &__botones {
          display: flex;
          flex-direction: row;
          justify-self: end;

          button {
            margin-right: 20px;
            @extend .botones__boton;
            background-color: $vendedores-botones;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }

  &__vendido {

    &__container {
      @extend .home__inspirado__container;
      flex-wrap: wrap;

      &__producto {
        @extend .home__inspirado__container__producto;

        &__texto {
          @extend .home__inspirado__container__producto__texto;

          &__medio {
            @extend .home__inspirado__container__producto__texto__medio;
          }
        }

        &__iconos {
          @extend .home__inspirado__container__producto__iconos;
        }
      }
    }
  }

  &__oportunidad {

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &__producto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #395CC9;
        border: 1px #192959 solid;
        border-radius: 10px;
        width: 48%;
        padding: 2%;
        margin-bottom: 30px;

        &__info {
          display: flex;
          flex-direction: row;
          align-items: flex-end;


          img {
            width: 13.2vw;
            height: 13.2vw;
            object-fit: contain;
            margin-right: 18px;
            border-radius: 10px;
            background-color: white;
            padding: 2%;
            border: 1px #0A1015 solid;
          }

          p {
            width: 47.5%;
            text-align: left;
            font-family: $letra-principal;
            color: #CDD8FD;
            font-size: 15px;
            font-weight: 700;
            margin: 0px;
          }

        }

        &__botones {
          button {
            @extend .botones__boton;
            background-color: $vendedores-botones;
            font-size: 14px;
            line-height: 20px;
            margin: 25px 25px 0px 0px;
          }
        }
      }
    }
  }

  &__categorias {
    &__encabezado {
      display: flex;
      flex-direction: column;
      margin-top: 45px;
      margin-bottom: 15px;

      h3 {
        margin: 0px;
      }

      button {
        padding: 3px 0px;
        width: 80px;
        margin-top: 5px;
        background-color: #4671F6;
        border-radius: 5px;
        font-family: $letra-principal;
        font-weight: 500;
        font-size: 14px;
        color: white;
        border: none;
      }
    }

    &__container {
      background-color: #DDE5FD;
      border: #192959 1px solid;
      border-radius: 10px;
      padding: 2%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        @extend .botones__boton;
        background-color: $vendedores-botones;
        font-size: 12px;
        font-weight: 700;
        padding: 1px 8px;
        margin: 3px 0px;
      }

    }
  }
}


@media (min-width: 442px) {
  .home {
    &__inspirado {

      &__container {

        &__producto {
          &__iconos {
            flex-direction: row;
          }
        }
      }
    }

    &__categorias {
      &__encabezado {
        flex-direction: row;
        

        button {
          margin-left: 20px;
          width: auto;
          padding: 5px 20px;
          height: 36px;
          border-radius: 5px;
          font-size: 16px;
        }
      }

      &__container {

        button {
          font-size: 14.5px;
          padding: 4px 16px;
          margin: 4px 0px;
        }

      }
    }
  }
}

@media (min-width: 772px) {
  .home {
    padding: 5% 13%;

    &__title {
      font-size: 48px;
      width: 90%;
      line-height: 56px;
    }

    &__categorias {
      &__encabezado {
        margin-top: 90px;
        margin-bottom: 20px;

        button {
          margin-left: 18px;
          padding: 4px 18px;
          border-radius: 5px;
          font-size: 16px;
        }
      }

      &__container {

        button {
          font-size: 16px;
          padding: 3px 13px 5px 13px;
          height: 34px;
          margin: 5px 0px 5px 0px;
        }

      }
    }
  }
}

@media (min-width:992px) {
  .home {
    h3 {
      font-family: $letra-principal;
      font-weight: 550;
      font-size: 28px;
      line-height: 34px;
      margin-top: 95px;
      margin-bottom: 20px;
    }

    &__form {
      margin: 50px 0px -65px 0px;
      display: flex;
      flex-direction: row;
      width: 100%;

      div {
        width: 60%;

        input {
          background-color: #F2F5FD;
          border: 2px solid #192959;
        }
      }

      button {
        background-color: $vendedores-botones;
        margin-left: 45px;
        height: 40px;
        font-size: 18px;
      }
    }

    &__inspirado {

      &__container {
        flex-direction: row;
        padding: 3px 13px;
        justify-content: space-between;

        &:last-child {
          border-bottom: 1px solid #192959;
        }

        &__producto {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 315px;
          padding: 0;
          width: 170px;
          padding: 15px 10px;
          border: none;

          &__texto {
            flex-direction: column;
            height: 90%;
            width: auto;

            &__medio {
              padding: 0;
              margin-left: 0px;
              width: auto;
              height: 100%;
              justify-content: space-between;
            }
          }

          &__iconos {
            width: auto;
            align-items: normal;

            :first-child {
              margin-right: 8px;
            }

            i {
              font-size: 18px;
            }
          }

          img {
            width: 150px;
            height: 150px;
            object-fit: contain;
            margin: auto;
            border-radius: 10px;
            background-color: white;
            padding: 4%;
            border: 1px #0A1015 solid;
          }

          p {
            font-size: 16px;
            margin-top: 16px;
            line-height: 16px;
            height: 36px;
            font-weight: 600;
            word-break: break-all;
          }

          h4 {
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            font-weight: 600;
          }
        }
      }
    }
    &__categorias {
      &__encabezado {
        h3{
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 1224px) {
  .home {
    padding: 5% 18%;

  }
}