@import '../../../styles.scss';

.home {
  background-color: $background-vendedores;
  padding: 5% 6%;
  color: #192959;
  font-family: $letra-principal;

  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 10px;
  }

  h3 {
    font-family: $letra-principal;
    font-weight: 550;
    font-size: 28px;
    line-height: 34px;
    margin-top: 90px;
    margin-bottom: 20px;
  }

  &__form {
    display: none;
    button{
      @extend .botones__boton;
    }
  }

  &__inspirado {

    &__container {
      display: flex;
      flex-direction: row;
      background-color: #CDD8FD;
      border: 1px #192959 solid;
      border-radius: 10px;
      padding: 18px 23px 18px 23px;
      justify-content: space-between;

      &__producto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 308px;
        width: 17%;

        img {
          width: 100%;
          height: 9vw;
          object-fit: contain;
          border-radius: 10px;
          background-color: white;
          padding: 2%;
          border: 1px #0A1015 solid;
        }

        p {
          text-align: left;
          margin-top: 8px;
          font-family: $letra-principal;
          font-size: 15px;
          font-weight: 500px;
        }

        button {
          @extend .botones__boton;
          background-color: $vendedores-botones;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  &__ultimo {
    &__container {
      padding: 2.5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #9AB2FA;
      border: solid #192959 1px;
      border-radius: 10px;

      &__img {
        width: 70%;
        align-items: center;
        width:16vw;
        height: 17vw;
        margin-right: 28px;

        img {
          width: 16vw;
          height: 17vw;
          object-fit: contain;
          border-radius: 10px;
          background-color: white;
          padding: 2%;
          border: 1px #0A1015 solid;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        height: 17vw;

        h4 {
          font-family: $letra-principal;
          font-weight: 500;
          font-size: 28px;
          line-height: 36px;
          word-break: break-all;
        }

        p {
          margin-top: 5px;
          font-family: $letra-principal;
          font-weight: 500;
          font-size: 17px;
          line-height: 24px;
          word-break: break-all;
        }

        &__botones {
          display: flex;
          flex-direction: row;
          justify-self: end;

          button {
            margin-right: 20px;
            @extend .botones__boton;
            background-color: $vendedores-botones;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }

  &__vendido {

    &__container {
      @extend .home__inspirado__container;
      flex-wrap: wrap;

      &__producto {
        @extend .home__inspirado__container__producto;
        margin-bottom: 15px;
        margin-top: 15px;
        height: 300px;

        img {
          width: 100%;
          height: 9vw;
          object-fit: contain;
          border-radius: 10px;
          background-color: white;
          padding: 2%;
          border: 1px #0A1015 solid;
        }

        p {
          text-align: left;
          margin-top: 5px;
          font-family: $letra-principal;
          font-size: 14px;
          font-weight: 500px;
        }

        button {
          @extend .botones__boton;
          background-color: $vendedores-botones;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  &__oportunidad {

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &__producto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #395CC9;
        border: 1px #192959 solid;
        border-radius: 10px;
        width: 48%;
        padding: 2%;
        margin-bottom: 30px;

        &__info {
          display: flex;
          flex-direction: row;
          align-items: flex-end;


          img {
            width: 13.2vw;
            height: 13.2vw;
            object-fit: contain;
            margin-right: 18px;
            border-radius: 10px;
            background-color: white;
            padding: 2%;
            border: 1px #0A1015 solid;
          }

          p {
            width: 47.5%;
            text-align: left;
            font-family: $letra-principal;
            color: #CDD8FD;
            font-size: 15px;
            font-weight: 700;
            margin: 0px;
          }

        }

        &__botones {
          button {
            @extend .botones__boton;
            background-color: $vendedores-botones;
            font-size: 14px;
            line-height: 20px;
            margin: 25px 25px 0px 0px;
          }
        }
      }
    }
  }

  &__categorias {
    &__encabezado {
      display: flex;
      flex-direction: row;
      margin-top: 90px;
      margin-bottom: 20px;

      h3 {
        margin: 0px;
      }

      button {
        margin-left: 20px;
        padding: 5px 20px 5px 20px;
        height: 36px;
        background-color: #4671F6;
        border-radius: 5px;
        font-family: $letra-principal;
        font-weight: 500;
        font-size: 16px;
        color: white;
        border: none;
      }
    }

    &__container {
      background-color: #DDE5FD;
      border: #192959 1px solid;
      border-radius: 10px;
      padding: 2%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        @extend .botones__boton;
        background-color: $vendedores-botones;
        font-size: 16px;
        font-weight: 700;
        padding: 3px 13px 5px 13px;
        height: 34px;
        margin: 5px 0px 5px 0px;
      }

    }
  }
}

@media (min-width: 772px){
  .home{
    padding: 5% 13%;
    &__title {
      font-size: 48px;
      width: 90%;
      line-height: 56px;
    }
  }
}

@media (min-width:992px) {
  .home{
    &__form {
      margin: 50px 0px -65px 0px;
      display: flex;
      flex-direction: row;
      width: 100%;
  
      div {
        width: 60%;
  
        input {
          background-color: #F2F5FD;
          border: 2px solid #192959;
        }
      }
  
      button {
        background-color: $vendedores-botones;
        margin-left: 45px;
        height: 40px;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1224px){
  .home{
    padding: 5% 18%;
  }
}