<div class="todas-actualizaciones-dialog">
    @for (actualizacion of data; track $index) {
        <mat-card class="todas-actualizaciones-dialog__notificacion">
            <mat-card-content class="todas-actualizaciones-dialog__notificacion__card">
                <div>
                    <h5>{{ actualizacion.titulo }}</h5>
                    <p>{{ actualizacion.fecha | formatoFecha }}</p>
                </div>
                <button class="btn btn-primary" (click)="abrirDetalle(actualizacion)">Detalles</button>
            </mat-card-content>
        </mat-card>
    }
</div>
