@import '../../../styles.scss';

.header {
    @extend .header;

    &__botones {
        @extend .botones;

        button {
            @extend .botones__boton;
            margin-left: 25px;
            height: 35px;
            font: 17px 500;
        }
    }
}

.vendedor {
    &__header {
        background-color: $header-vendedores-background;
    }

    main {
        background-color: #CDD8FD;
    }

    button {
        background-color: $vendedores-botones;
    }
}

.proveedor {
    &__header {
        background-color: $header-proveedores-background;
    }

    main {
        background-color: #CCCAF6;
    }

    button {
        background-color: $proveedores-botones;
    }
}

main {
    color: #1F1D3E;
    padding: 2% 18%;
    background-color: #CCCAF6;
}

h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    margin: 0%
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;

    h1 {
        font-weight: 900;
        font-size: 28px;
        margin: 0;
    }

    button {
        @extend .botones__boton;
        height: 36px;
        font: 16px 500;
        height: 36px;
    }
}

.proceso {
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;

    input {
        width: 30%;
        padding: 10px 20px;
        border: 1px solid #1F1D3E;
        background-color: $color-claro;
        border-radius: 3.46px;
        height: 40px;
        font-size: 16px;
        color: #918DCE;
    }

    button {
        @extend .botones__boton;
        font-size: 18px;
        font-weight: 500;
        height: 40px;
        padding: 5px 25px;
        margin-left: 35px;
    }
}

.card {
    background-color: $color-claro;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    height: 190px;
    margin-top: 30px;
    margin-bottom: 30px;

    &__producto {
        width: 50%;
        display: flex;
        flex-direction: row;
        border: 1px solid #1F1D3E;
        border-right: 0px;

        &__imagen {
            padding: 2%;

            img {
                background-color: white;
                border: 1px solid #1F1D3E;
                border-radius: 11px;
                width: 170px;
                height: 170px;
                object-fit: scale-down;
                margin: auto;
                padding: 2%;
            }
        }

        &__detalles {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2.5% 3% 0.5% 2%;

            h3 {
                font-size: 16.7px;
                line-height: 21px;
                font-weight: 800;
            }
        }
    }

    &__info {
        width: 50%;
        color: white;
        border-radius: 0px 5px 0px 0px;
        border: solid 1px #1F1D3E;

        h3 {
            font-weight: 700;
            font-size: 16.7px;
            line-height: 28px;
            text-align: left;
            padding: 3%;
            margin: 0;
        }

        h2 {
            font-size: 36px;
            text-align: right;
            margin: 0;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__precio {
            justify-content: space-between;
            padding: 3%;
            height: 35%;

            h3 {
                padding: 0%;
            }
        }

        &__entrega {
            border-bottom: #1F1D3E 1px solid;
            border-top: #1F1D3E 1px solid;
            height: 40%;
        }

        &__costo {
            height: 25%;
        }

        &__completa {
            height: 25%;
        }
    }
}

#vacio {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 500;
    color: #1f1d3e;
}

.resaltado {
    background-color: #1F1D3E;
    line-height: 50px;
}