<header class="header"
    [ngClass]="{'vendedor vendedor__header': isVendedor, 'proveedor proveedor__header': !isVendedor}">
    <div class="header__logo"></div>
    <div class="header__botones"
        [ngClass]="{'vendedor__header__botones': isVendedor, 'proveedor__header__botones': !isVendedor}">
        <button [routerLink]="isVendedor? ['/vendedor/', idUsuario]: ['/proveedor/', idUsuario]">Inicio</button>
        <button
            [routerLink]="[isVendedor? '/vendedor/cuenta': '/proveedor/cuenta']">Mi
            cuenta</button>
    </div>
</header>
<main
    [ngClass]="{'vendedor vendedor__cuenta': isVendedor, 'proveedor proveedor__cuenta': !isVendedor}">
    <div class="encabezado">
        <h1>Mis ventas</h1>
        <button (click)="goBack()">Volver</button>
    </div>
    @if (isVendedor) {
    <div class="links">
        <h2>Ventas en proceso</h2>
        <form class="form"
            [formGroup]="inputLinks" (ngSubmit)="filtrar('links')">
            <input title="Busqueda" class="form-control"
                placeholder="Buscá por palabra clave ..."
                formControlName="busqueda">
            <button type="submit">Filtrar</button>
        </form>
        @defer (when linksCargado) {
        @if(linksVendedorFiltrados().length != 0)
        {
        @for (link of linksVendedorFiltrados(); track $index) {
        <div class="card">
            <div class="card__producto">
                <div class="card__producto__imagen">
                    <img src="{{ link.producto.image }}" alt="imagen_producto">
                </div>
                <div class="card__producto__detalles">
                    <h3
                        [innerHTML]="destacarTermino(link.producto.nombre , valorFiltradoLinks())"></h3>
                    <h3>Rating: 3/10</h3>
                </div>
            </div>
            <div class="card__info">
                <div class="card__info__precio">
                    <h3>Precio establecido:</h3>
                    <h2>
                        {{ link.link.precio | currency }}
                    </h2>
                </div>
                <div class="card__info__botones">
                    <button>Generar Nuevo Link</button>
                    <button>Descargar Flyer</button>
                </div>
                <div class="card__info__costo">
                    @if (link.link.costo == "vendedor"){
                    <h3>Costo del envío a cargo
                        suyo</h3>
                    }
                    @else {
                    <h3>Costo del envío a cargo
                        del {{ link.link.costo }}</h3>
                    }
                </div>
            </div>
        </div>
        }
        }
        @else {
        <h3 id="vacio">Todavía no tienes links activos todavía</h3>
        }
        }
    </div>
    }
    <div class="proceso">
        <h2>Ventas en proceso</h2>
        <form class="form"
            [formGroup]="inputProceso" (ngSubmit)="filtrar('proceso')">
            <input title="Busqueda" class="form-control"
                placeholder="Buscá por palabra clave ..."
                formControlName="busqueda">
            <button type="submit">Filtrar</button>
        </form>
        @defer (when cargado) {
        @if(ventasProceso().length != 0)
        {
        @for (venta of ventasProceso(); track $index) {
        <div class="card">
            <div class="card__producto">
                <div class="card__producto__imagen">
                    <img src="{{ venta.producto.image }}" alt="imagen_producto">
                </div>
                <div class="card__producto__detalles">
                    <h3
                        [innerHTML]="destacarTermino(venta.producto.nombre , valorFiltradoProceso())"></h3>
                    <h3>Unidades: {{ venta.venta.quantity }}</h3>
                </div>
            </div>
            <div class="card__info"
                [style.background-color]="venta.venta.state == 'proceso' ? isVendedor? '#7898F8' :'#6965B3' : isVendedor? '#263E86' :'#3E3B7D'">
                <div class="card__info__precio">
                    <h3>Precio establecido:</h3>
                    <h2>
                        @if(isVendedor){
                        {{ venta.venta.precioVenta | currency }}
                        }
                        @else {
                        {{ venta.producto.precio| currency }}
                        }</h2>
                </div>
                <div class="card__info__entrega">
                    @if (venta.venta.method == "mano") {

                    @if (isVendedor){
                    <h3>El proveedor llevara el paquete
                        al correo antes del {{ venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }
                    @else {
                    <h3>Tenés tiempo de
                        entregar el paquete al correo hasta el {{
                        venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }
                    @else {

                    @if (isVendedor){

                    @if (venta.venta.method === "vendedor"){

                    @if (venta.venta.correo === null) {
                    <h3>Debes recoger el producto antes del {{
                        venta.venta.deadline |
                        formatoFechaVentas }} y entregarlo</h3>
                    }
                    @else {
                    <h3>Debes recoger y llevar al corre el producto antes del {{
                        venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }
                    @else {
                    <h3>El repartidor llevara el paquete antes del {{
                        venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }

                    @else{
                    <h3>El {{ venta.venta.method }}
                        pasará a recoger el producto el {{ venta.venta.deadline
                        |
                        formatoFechaVentas }}</h3>
                    }

                    }
                </div>
                <div class="card__info__costo">
                    @if ((venta.venta.costo == "proveedor" && !isVendedor) ||
                    (venta.venta.costo == "vendedor" && isVendedor)) {
                    <h3>Costo del envío a cargo
                        suyo</h3>
                    }
                    @else {
                    <h3>Costo del envío a cargo
                        del {{ venta.venta.costo }}</h3>
                    }
                </div>
            </div>
        </div>
        }
        }
        @else {
        <h3 id="vacio">Todavía no tiene ventas en proceso</h3>
        }
        }
    </div>
    <div>
        <h2>Ventas finalizadas</h2>
        <form class="form"
            [formGroup]="inputCompleto" (ngSubmit)="filtrar('completa')">
            <input title="Busqueda" class="form-control"
                placeholder="Buscá por palabra clave ..."
                formControlName="busqueda">
            <button type="submit">Filtrar</button>
        </form>
        @defer (when cargado) {
        @if(ventasCompleto().length != 0)
        {
        @for (venta of ventasCompleto(); track $index) {
        <div class="card">
            <div class="card__producto">
                <div class="card__producto__imagen">
                    <img src="{{ venta.producto.image }}" alt="imagen_producto">
                </div>
                <div class="card__producto__detalles">
                    <h3
                        [innerHTML]="destacarTermino(venta.producto.nombre , valorFiltradoCompleto())"></h3>
                    <h3>Unidades: {{ venta.venta.quantity }}</h3>
                </div>
            </div>
            <div class="card__info"
                [style.background-color]="venta.venta.state == 'proceso' ? '#6965B3' : '#3E3B7D'">
                <div class="card__info__precio">
                    <h3>Precio establecido:</h3>
                    <h2>
                        @if(isVendedor){
                        {{ venta.venta.precioVenta | currency }}
                        }
                        @else {
                        {{ venta.producto.precio| currency }}
                        }</h2>
                </div>
                <div class="card__info__entrega">
                    @if (venta.venta.method == "mano") {

                    @if (isVendedor){
                    <h3>El proveedor llevo el paquete
                        al correo el {{ venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }
                    @else {
                    <h3>Llevaste el paquete
                        al correo el {{ venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }
                    @else {

                    @if (isVendedor){

                    @if (venta.venta.method === "vendedor"){

                    @if (venta.venta.correo === null) {
                    <h3>Recogiste el producto el {{ venta.venta.deadline |
                        formatoFechaVentas }} y lo entregaste</h3>
                    }
                    @else {
                    <h3>LLevaste el paquete
                        al correo el {{ venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }
                    @else {
                    <h3>El repartidor llevo el paquete
                        al correo el {{ venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }

                    @else{
                    <h3>El {{ venta.venta.method }}
                        recogió el producto el {{ venta.venta.deadline |
                        formatoFechaVentas }}</h3>
                    }

                    }
                </div>
                <div class="card__info__completa">
                    <h3>¡Vendiste
                        correctamente este producto!</h3>
                </div>
            </div>
        </div>
        }
        }
        @else {
        <h3 id="vacio">Todavía no completó ninguna venta</h3>
        }
        }
    </div>
</main>
