<app-header [isVendedor]=false [idUsuario]=idUsuario [publicaciones]="true"
    [perVend]="true" [miCuenta]="true"></app-header>
<main class="proveedor">
    <div class="proveedor__encabezado">
        <div class="proveedor__encabezado__sup">
            <div>
                <h1>Martin,</h1>
                <h2>¡qué bueno encontrarte!</h2>
            </div>
            <button>Nuevo Producto</button>
        </div>
        <h3>¿Qué hacemos hoy?</h3>
        <div class="proveedor__encabezado__botones">
            <button>Historial de ventas</button>
            <button>Panel de ganancias</button>
            <button>Estado de la venta</button>
            <button>Logros y recompensas</button>
        </div>
    </div>
    <div class="proveedor__paneles">
        <div class="proveedor__paneles__actualizaciones">
            <div class="proveedor__paneles__actualizaciones__header">
                <h2>Actualizaciones</h2>
                <button
                    [routerLink]="['/proveedor/actualizaciones/', idUsuario]">Ver
                    Todas</button>
            </div>
            <div class="proveedor__paneles__actualizaciones__contenido">
                <div
                    class="proveedor__paneles__actualizaciones__contenido__recientes">
                    @for (actualizacion of actualizacionesMostradas(); track
                    $index)
                    {
                    <div
                        class="proveedor__paneles__actualizaciones__contenido__recientes__notificacion">
                        <div>
                            @switch (actualizacion.tipo) {
                            @case(0){
                            <h5>¡Te han hecho una pregunta!</h5>
                            }
                            @case(1){
                            <h5>¡Producto agregado!</h5>
                            }
                            @case(2){
                            <h5>¡Un Producto ha sido afiliado!</h5>
                            }
                            @case(3){
                            <h5>¡Producto vendido!</h5>
                            }
                            }
                            <p>{{ actualizacion.fecha | formatoFecha }} -
                                <b>¡Presiona para ver
                                    más!</b> </p>
                        </div>
                        <button
                            (click)="abrirDetalle(actualizacion)">Más
                            Detalles</button>
                    </div>
                    }
                    @empty {
                    <h4>¡Aún no tienes actualizaciones!</h4>
                    }
                </div>
                <div
                    class="proveedor__paneles__actualizaciones__contenido__ganancias">
                    <div
                        class="proveedor__paneles__actualizaciones__contenido__ganancias__card">
                        <h4>Ganancia:</h4>
                        <p>{{ ganancias() | currency }}</p>
                    </div>
                    <button>Panel de Ganancias</button>
                </div>
            </div>
        </div>
    </div>
    <app-estado [idProveedor]=idUsuario></app-estado>
    <app-panel-ganancias [isVendedor]=false
        [idUsuario]=idUsuario></app-panel-ganancias>
    <app-logros [isVendedor]=false [idUsuario]=idUsuario></app-logros>
</main>
