@import '../../../styles.scss';

.proveedor {
    background-color: $background-proveedores;
    color: #1F1D3E;
    font-family: $letra-principal;

    &__encabezado {
        padding: 20px 6% 20px 6%;

        &__sup {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
        }

        &__botones {
            @extend .proveedor__encabezado__sup
        }


        h1 {
            font-weight: 900;
            width: 100%;
            font-size: 48px;
            line-height: 30px;
        }

        h2 {
            font-weight: 700;
            width: 100%;
            font-size: 42px;
            line-height: 24px;
        }

        h3 {
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 15px;
        }

        button {
            @extend .botones__boton;
            background-color: $proveedores-botones;
            font-size: 17px;
            font-weight: 500;
            padding: 8px 25px 8px 25px;
        }


    }


    &__paneles {
        padding: 20px 6%;
        background-color: #E5E4FA;
        display: flex;
        flex-direction: column;

        &__actualizaciones {
            width: 100%;

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                width: 100%;

                h2 {
                    font-size: 21px;
                    margin: 0 25px 0 0;
                }

                button {
                    @extend .botones__boton;
                    background-color: $proveedores-botones;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 3px 10px;
                }
            }

            &__contenido {
                display: flex;
                flex-direction: column;

                &__recientes {
                    display: flex;
                    padding: 0;
                    flex-direction: column;
                    width: 100%;

                    h4 {
                        text-align: left;
                        opacity: 70%;
                        font-size: 20px;
                        margin-top: 40px;
                    }

                    &__notificacion {
                        display: flex;
                        flex-direction: column;
                        padding: 5px 10px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        background-color: $color-claro;
                        border: 1px #1F1D3E solid;
                        border-radius: 10px;
                        width: 100%;

                        &:hover {
                            background-color: #dadada;
                        }

                        h5 {
                            margin: 0;
                            font-size: 13px;
                            line-height: 13px;
                            font-weight: 600;
                        }

                        p {
                            font-size: 9px;
                            line-height: 9px;
                            margin: 5px 0 0 0;
                            color: rgb(182, 182, 182)
                        }

                        button {
                            @extend .botones__boton;
                            display: none;
                        }

                    }

                }

                &__ganancias {
                    width: 100%;

                    &__card {
                        background-color: $color-claro;
                        border: 1px solid #1F1D3E;
                        padding: 10px 10px;
                        border-radius: 5px;
                        margin: 10px 0 15px 0;

                        h4 {
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 30px;
                            line-height: 30px;
                            font-weight: 700;
                            margin: 0;
                        }
                    }

                    button {
                        @extend .botones__boton;
                        background-color: $proveedores-botones;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 3px 10px;
                    }
                }
            }
        }
    }
}

//Media queries

@media (min-width: 380px) {
    .proveedor {
        &__paneles {

            &__actualizaciones {
                &__header {
                    margin-bottom: 15px;

                    h2 {
                        font-size: 23px;
                        margin: 0 25px 0 0;
                    }

                    button {
                        @extend .botones__boton;
                        font-size: 14px;
                        padding: 5px 10px;
                    }
                }

                &__contenido {

                    &__recientes {

                        &__notificacion {
                            padding: 6px 10px;

                            h5 {
                                margin: 0;
                                font-size: 16px;
                                line-height: 18px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 11px;
                                line-height: 15px;
                                margin: 5px 0 0 0;
                                color: rgb(182, 182, 182)
                            }
                        }
                    }

                    &__ganancias {
                        width: 100%;

                        &__card {
                            background-color: $color-claro;
                            border: 1px solid #1F1D3E;
                            padding: 10px 10px;
                            border-radius: 5px;
                            margin: 10px 0 15px 0;

                            h4 {
                                font-size: 14px;
                                line-height: 14px;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }

                            p {
                                font-size: 30px;
                                line-height: 30px;
                                font-weight: 700;
                                margin: 0;
                            }
                        }

                        button {
                            font-size: 14px;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .proveedor {
        &__paneles {

            &__actualizaciones {
                &__header {
                    margin-bottom: 15px;

                    h2 {
                        font-size: 25px;
                        margin: 0 25px 0 0;
                    }

                    button {
                        font-size: 15px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 772px) {
    .proveedor {
        &__encabezado {
            padding: 5% 13% 2% 13%;
        }

        &__paneles {
            padding: 2% 13%;
            background-color: #E5E4FA;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;

            &__actualizaciones {
                width: 100%;

                &__header {
                    display: flex;
                    justify-content: start !important;
                    align-items: center;
                    margin-bottom: 10px;
                    width: 100%;

                    h2 {
                        font-size: 28px;
                        margin-right: 25px
                    }

                    button {
                        background-color: $proveedores-botones;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 3px 18px 3px 18px;
                    }
                }

                &__contenido {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    &__recientes {
                        display: flex;
                        padding: 0;
                        flex-direction: column;
                        width: 65%;

                        h4 {
                            text-align: left;
                            opacity: 70%;
                            font-size: 20px;
                            margin-top: 40px;
                        }

                        &__notificacion {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            margin-bottom: 20px;
                            border-radius: 10px;

                            button {
                                background-color: $proveedores-botones;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 3px 18px 3px 18px;
                            }

                        }

                    }

                    &__ganancias {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-end;


                        &__card {
                            border-radius: 5px;
                            margin: 0 0 15px 0;
                            width: 100%;

                            h4 {
                                font-size: 18px;
                                line-height: 22px;
                                text-align: right;
                                margin-bottom: 5px;
                            }

                            p {
                                font-size: 36px;
                                line-height: 56px;
                                text-align: right;
                                margin: 0;
                            }
                        }

                        button {
                            text-align: right;
                            width: 155px !important;
                        }
                    }
                }
            }

        }
    }
}

@media (min-width: 1024px) {
    .proveedor {
        &__paneles {
            padding: 2% 13%;

            &__actualizaciones {

                &__contenido {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    &__recientes {
                        display: flex;
                        padding: 0;
                        flex-direction: column;

                        width: 65%;

                        h4 {
                            text-align: left;
                            opacity: 70%;
                            font-size: 20px;
                            margin-top: 40px;
                        }

                        &__notificacion {
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 20px;
                            border-radius: 5px;

                            h5 {
                                font-size: 18px;
                                line-height: 18px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 12px;
                                line-height: 16px;
                            }

                            button {
                                display: inline-block;
                                background-color: $proveedores-botones;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 3px 18px 3px 18px;
                            }

                        }

                    }

                    &__ganancias {


                        &__card {

                            p {
                                font-size: 40px;
                            }
                        }

                        button {
                            width: 175px !important;
                            font-size: 16px;
                        }
                    }
                }
            }

        }
    }
}

@media (min-width: 1224px) {
    .proveedor {
        &__encabezado {
            padding: 5% 18% 2% 18%;
        }

        &__paneles {
            padding: 2% 18%;

            &__actualizaciones {

                &__contenido {

                    &__recientes {
                        width: 62%;

                    }

                    &__ganancias {
                        width: 33%;
                    }
                }
            }

        }
    }
}