<main class="main__productos">
    <div class="main__productos__contenido">
        <h2>Lista de mis productos</h2>
        <form class="main__productos__contenido__form"
            [formGroup]="inputBusqueda" (ngSubmit)="filtrar()">
            <div class="mb-3">
                <input title="Busqueda" class="form-control"
                    list="datalistOptions" id="exampleDataList"
                    placeholder="Buscar..." formControlName="busqueda">
            </div>
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </form>
        <div class="main__productos__contenido__lista">
            @defer (on viewport) {
            @for (producto of paginaMostrada(); track producto.id) {
            <div>
                <div class="card mb-3 main__productos__contenido__lista__card">
                    <div class="row g-0">
                        <div
                            class="col-md-4 main__productos__contenido__lista__card__container_img">
                            <img src={{producto.image}}
                                class="img-fluid rounded-start"
                                alt="foto-producto">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"
                                    [innerHTML]="destacarTermino(producto.title, valorFiltrado)"></h5>
                                <p class="card-text">{{ producto.description
                                    }}</p>
                                <p class="card-text">{{ producto.price |
                                    currency}}</p>
                                <button
                                    (click)="editarProducto(producto.id)">Editar
                                    datos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            @if(this.productosMostrados().length == 0){
            <div>
                <h4>¡No se encontraron productos!</h4>
            </div>
            } @else {
            <mat-paginator [length]="cantidadProductos()"
                [pageSize]="10"
                (page)="cambioDePagina($event)"
                aria-label="Select page">
            </mat-paginator>
            }
            }
            @placeholder {
            <br>
            }
            @loading{
            <mat-spinner></mat-spinner>
            }
            @error {
            <h4>¡Error cargando productos!</h4>
            }
        </div>
    </div>
</main>
