@import '../../styles.scss';

.main__productos{
    background-color: #07081323;
    padding: 15%;
    &__contenido{
        display: flex;
        flex-direction: column;
        &__form{
            margin: 10px 0px 30px 0px;
            display: flex;
            flex-direction: row;
            width: 100%;
            div{
                width: 40%;
            }
            button{
                margin-left: 20px;
                width: 100px;
                height: 40px;
            }
        }
        &__lista{
            &__card{
                width: 100%;
                &__container_img{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 2%;
                    img{
                        width: 200px;
                        height: 250px;
                        object-fit: fill;
                    }
                }
            }
        }
    }
}

