<app-header [isVendedor]=isVendedor [idUsuario]=idUsuario [inicio]="true" [actualizaciones]="true"></app-header>
<main>
    <div class="cuenta"
        [ngClass]="{'vendedor vendedor__cuenta': isVendedor, 'proveedor proveedor__cuenta': !isVendedor}">
        <div class="cuenta__encabezado">
            <h1>Mi cuenta</h1>
            <button (click)="goBack()">Volver</button>
        </div>
        <div class="cuenta__info">
            <img class="cuenta__info__imagen" alt="imagen-usuario"
                src="{{ usuario?.img }}">
            <div class="cuenta__info__principal">
                <div>
                    <h3>@if(tipoUsuario(usuario)){
                        {{ usuario.name }}
                        }@else {
                        {{ usuario?.brandName }}
                        }</h3>
                </div>
                <div>
                    <h3>{{ usuario?.email }}</h3>
                </div>
                <div>
                    <h3>{{ usuario?.cuit }}</h3>
                </div>
                <div>
                    <h3>{{ usuario?.phone }}</h3>
                </div>
            </div>
            <button class="cuenta__info__editar"> Editar datos</button>
        </div>
        <div class="cuenta__adicional">
            <div class="cuenta__adicional__adicionales">
                <h2>Datos adicionales</h2>
                <div>
                    <h3>{{ usuario?.username }}</h3>
                </div>
                <div>
                    <h3> ******** </h3>
                </div>
                <div>
                    <h3>{{ usuario?.address }}</h3>
                </div>
                <div>
                    <h3>{{ usuario?.recoveryEmail
                        }}</h3>
                </div>
                <button> Editar datos</button>
            </div>
            <div class="cuenta__adicional__seguridad">
                <h2>Seguridad</h2>
                <div class="cuenta__adicional__container"
                    [ngClass]="{'completo': usuario?.twoStepVerification, 'incompleto': !usuario?.twoStepVerification}">
                    <h3>Verificación en dos pasos</h3>
                    <i class="fa-solid fa-check"
                        *ngIf="usuario?.twoStepVerification"></i>
                    <i class="fas fa-times-circle"
                        *ngIf="!usuario?.twoStepVerification"></i>

                </div>
                <div class="cuenta__adicional__container"
                    [ngClass]="{'completo': usuario?.trustedUsers, 'incompleto': !usuario?.trustedUsers}">
                    <h3>Usuarios de confianza</h3>
                    <i class="fa-solid fa-check"
                        *ngIf="usuario?.trustedUsers"></i>
                    <i class="fas fa-times-circle"
                        *ngIf="!usuario?.trustedUsers"></i>
                </div>
            </div>
        </div>
    </div>
    <app-panel-ganancias [isVendedor]=isVendedor
        [idUsuario]=idUsuario></app-panel-ganancias>
    <app-logros [isVendedor]=isVendedor [idUsuario]=idUsuario></app-logros>
</main>