<app-header [isVendedor]=true [idUsuario]=2 [inicio]="true" [ventas]="true"
    [miCuenta]="true"></app-header>

<main>
    <div class="encabezado">
        <i (click)="goBack()"
            class="cuenta__volver fa-solid fa-chevron-left"></i>
        <button (click)="goBack()"> Volver</button>
        <p> {{ categoria }}</p>
    </div>
    <div class="contenido">
        <div class="contenido__arriba__celu">
            <p>{{ cantLinks }} links activos</p>
            <h1 class="contenido__titulo">{{producto.nombre}}</h1>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    @for (imagen of arrayCarrusel; track $index) {
                    @if ($index == 0) {
                    <button type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0" class="active"
                        aria-current="true" title="slide 1"
                        aria-label="slide 1"></button>
                    }
                    @else {
                    <button type="button"
                        data-bs-target="#carouselExampleIndicators"
                        attr.data-bs-slide-to="{{$index}}"
                        attr.aria-label="slide {{$index}}"
                        aria-label="slide 2"></button>
                    }
                    }
                </div>
                <div class="carousel-inner">
                    @for (imagen of arrayCarrusel; track $index) {
                    @if ($index == 0) {
                    <div class="carousel-item active">
                        <img src="{{imagen}}" class="d-block w-100"
                            alt="imagen principal">
                    </div>
                    }
                    @else {
                    <div class="carousel-item">
                        <img src="{{imagen}}" class="d-block w-100"
                            alt="imagen adicional {{$index}}">
                    </div>
                    }
                    }
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="contenido__medio">
                <div class="contenido__medio__adic">
                    @for (imagen of imagenesAdicionales; track $index) {
                    <img src="{{ imagen }}"
                        alt="imagen-adicional-{{ $index }}-producto">
                    }
                </div>
                <img class="contenido__medio__princ" src="{{ producto.image }}"
                    alt="imagen-producto">
            </div>
            <h2 class="contenido__precio">{{producto.precio|
                currency}}</h2>
            <div class="contenido__rates">
                @if (ratesTraidos.length) {
                <estrellas [rating]=rating></estrellas>
                }
                @else {
                <estrellas [rating]=0></estrellas>
                <p>(Sin calificaciones)</p>
                }
            </div>
            <div class="contenido__botones">
                <button type="button">Añadir a mis ventas</button>
                <button type="button">Descargar flyer de venta</button>
            </div>
        </div>
        <div class="contenido__arriba">
            <img src="{{ producto.image }}" alt="imagen-producto">
            <div class="contenido__info">
                <div class="contenido__info__texto">
                    <h1 class="contenido__titulo">{{producto.nombre}}</h1>
                    <h2 class="contenido__precio">{{producto.precio|
                        currency}}</h2>
                    @if (ratesTraidos.length) {
                    <estrellas [rating]=rating></estrellas>
                    }
                    @else {
                    <estrellas [rating]=0></estrellas>
                    <p>(Sin calificaciones)</p>
                    }
                </div>
                <div class="contenido__botones">
                    <button type="button">Añadir a mis ventas</button>
                    <button type="button">Descargar flyer de venta</button>
                </div>
            </div>
        </div>
        @if (imagenesAdicionales.length != 0) {
        <div class="contenido__imagenes">
            @for (imagen of imagenesAdicionales; track $index) {
            <div class="contenido__imagenes__imagen">
                <img src="{{ imagen }}"
                    alt="imagen-adicional-{{ $index }}-producto">
            </div>
            }
        </div>
        }
        @else {
        <div class="separador"></div>
        }
        <div class="contenido__abajo">
            <div class="contenido__descripcion">
                <h4>Descipción: </h4>
                <p>{{producto.descripcion}}</p>
            </div>
            <div class="contenido__abajo__derecha">
                <div class="contenido__especificaciones">
                    <h4>Atributos: </h4>
                    @for (atributo of atributos; track $index) {
                    <p>{{ atributo[0] }}: {{ atributo[1] }}</p>
                    }
                    @empty {
                    <p>No hay atributos enlistados</p>
                    }
                </div>
                <div class="contenido__claves">
                    <h4>Palabras Clave:</h4>
                    <div>
                        @for (palabra of palabrasClave; track $index) {
                        <button type="button">{{ palabra }}</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preguntas">
        <h3>Preguntas y Respuestas</h3>
        <form class="preguntas__form"
            [formGroup]="preguntar" (ngSubmit)="hacerPregunta()">
            <input title="Pregunta" class="form-control"
                list="datalistOptions" id="exampleDataList"
                placeholder="Hacé tu pregunta"
                formControlName="pregunta">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
        @if (preguntas.length == 0) {
        <h4>Todavía no hay preguntas</h4>
        }
        @else{
        <h4>Preguntas realizadas</h4>
        @for (pregunta of preguntas; track $index) {
        <div class="preguntas__container">
            <div class="preguntas__container__pregunta">
                <h3> {{ pregunta.pregunta }} </h3>
            </div>
            @for (respuesta of respuestas[$index]; track $index) {
            <div class="preguntas__container__respuesta">
                <div class="preguntas__container__respuesta__flechas">
                    <h5>↳</h5>
                    @if($index + 1 < respuestas[$index].length){
                    <div class="union"></div>
                    }
                </div>
                <div class="preguntas__container__respuesta__contenido">
                    <h3>{{ respuesta.respuesta }}</h3>
                </div>
            </div>
            }
        </div>
        }
        }
    </div>
</main>
