<header class="header">
    <div class="header__logo"></div>
    <div class="header__botones">
        <button [routerLink]="['/vendedor/ventas/']">Mis Ventas</button>
        <button [routerLink]="['/vendedores/cuenta/']">Mi Cuenta</button>
    </div>
</header>

<main>
    <div class="encabezado">
        <button (click)="goBack()"> Volver</button>
        <!-- <p> {{ producto.category}}</p> -->
    </div>
    <div class="contenido">
        <div class="contenido__imagen">
            <img src="{{ producto.image }}" alt="imagen-producto">
        </div>
        <h1 class="contenido__titulo">{{producto.nombre}}</h1>
        <h2 class="contenido__precio">{{producto.precio|
            currency}}</h2>
        <div class="contenido__botones">
            <button type="button">Añadir a mis ventas</button>
            <button type="button">Descargar flyer de venta</button>
        </div>
        <div class="contenido__imagenes">
            <div class="contenido__imagenes__imagen">
            </div>
            <div class="contenido__imagenes__imagen">
            </div>
            <div class="contenido__imagenes__imagen">
            </div>
            <div class="contenido__imagenes__imagen">
            </div>
        </div>
        <div class="contenido__descripcion">
            <h4>Descipción: </h4>
            <p>{{producto.descripcion}}</p>
        </div>
        <div class="contenido__especificaciones">
            <h4>Descipción: </h4>
            <p>-Tamaño: xxx</p>
            <p>-Altura: xxx</p>
        </div>
        <div class="contenido__claves">
            <h4>Palabras Clave:</h4>
            <button type="button">Electrónica</button>
            <button type="button">Negro</button>
            <button type="button">Monitor Led</button>
            <button type="button">Video</button>
            <button type="button">Nuevo</button>
            <button type="button">Noblex</button>
        </div>
    </div>
    <div class="preguntas">
        <h3>Preguntas y Respuestas</h3>
        <form class="preguntas__form"
            [formGroup]="preguntar" (ngSubmit)="hacerPregunta()">
            <input title="Pregunta" class="form-control"
                list="datalistOptions" id="exampleDataList"
                placeholder="Hacé tu pregunta"
                formControlName="pregunta">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
        @if (preguntas.length == 0) {
        <h4>Todavía no hay preguntas</h4>
        }
        @else{
        <h4>Preguntas realizadas</h4>
        @for (pregunta of preguntas; track $index) {
        <div class="preguntas__container">
            <div class="preguntas__container__pregunta">
                <h3> {{ pregunta.pregunta }} </h3>
            </div>
            @for (respuesta of respuestas[$index]; track $index) {
            <div class="preguntas__container__respuesta">
                <div class="preguntas__container__respuesta__flechas">
                    <h5>↳</h5>
                    @if($index + 1 < respuestas[$index].length){
                        <div class="union"></div>
                    }
                </div>
                <div class="preguntas__container__respuesta__contenido">
                    <h3>{{ respuesta.respuesta }}</h3>
                </div>
            </div>
            }
        </div>
        }
        }
    </div>
</main>
