<header class="header"
    [ngClass]="{'vendedor vendedor__header': isVendedor, 'proveedor proveedor__header': !isVendedor}">
    <div class="header__logo"></div>
    <div class="header__botones"
        [ngClass]="{'vendedor__header__botones': isVendedor, 'proveedor__header__botones': !isVendedor}">
        <button [routerLink]="[isVendedor? '': '/proveedor']">Inicio</button>
    </div>
</header>
<main
    [ngClass]="{'vendedor': isVendedor, 'proveedor': !isVendedor}">
    <div class="actualizaciones">
        <div class="actualizaciones__encabezado">
            <h2>Actualizaciones</h2>
            <button
                [routerLink]="[isVendedor? '': '/proveedor']">Volver</button>
        </div>
        @defer (when cargado) {
        <div class="actualizaciones__container">
            @for (actualizacion of actualizaciones; track $index) {
            <mat-accordion>
                <mat-expansion-panel class="actualizacion"
                    (opened)="panelOpenState.set(true)"
                    (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header class="actualizacion__header">
                        <mat-panel-title>
                            @if(isVendedor){
                            @switch (actualizacion.actualizacion.tipo) {
                            @case(0){
                            ¡Han respondido tu pregunta!
                            }
                            @case(1){
                            ¡Has seleccionado un producto!
                            }
                            @case(2){
                            ¡Has vendido un producto!
                            }
                            }
                            }
                            @else{
                            @switch (actualizacion.actualizacion.tipo) {
                            @case(0){
                            ¡Te han hecho una pregunta!
                            }
                            @case(1){
                            ¡Has agregado un producto!
                            }
                            @case(2){
                            ¡Se han afiliado a tu producto!
                            }
                            @case(3){
                            ¡Se ha vendido tu producto!
                            }
                            }
                            }
                        </mat-panel-title>
                        <mat-panel-description> {{
                            actualizacion.actualizacion.fecha
                            | formatoFecha }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="actualizacion__contenido">
                        <div class="actualizacion__contenido__producto">
                            <div
                                class="actualizacion__contenido__producto__imagen">
                                <img src="{{ actualizacion.producto.image }}"
                                    alt="imagen-producto">
                            </div>
                            <div
                                class="actualizacion__contenido__producto__texto">
                                <h4>{{ actualizacion.producto.title }}</h4>
                                <h5>#{{ actualizacion.producto.id }}</h5>
                            </div>
                        </div>
                        <div class="actualizacion__contenido__informacion">
                            @if(isVendedor){
                            @switch (actualizacion.actualizacion.tipo) {
                            @case(0){
                            <div
                                class="actualizacion__contenido__informacion__container">
                                <div
                                    class="actualizacion__contenido__informacion__pregunta">
                                    <h4
                                        class="actualizacion__contenido__informacion__pregunta__texto">
                                        {{ actualizacion.pregunta?.pregunta }}
                                    </h4>
                                </div>
                                <div
                                    class="actualizacion__contenido__informacion__respuesta">
                                    <h5>↳</h5>
                                    <div
                                        class="actualizacion__contenido__informacion__respuesta__contenido">
                                        <h4
                                            class="actualizacion__contenido__informacion__respuesta__contenido__texto">{{
                                            actualizacion.respuesta?.respuesta
                                            }}</h4>
                                    </div>
                                </div>
                            </div>
                            }
                            @case(1){
                            <div
                                class="actualizacion__contenido__informacion__venta">
                                <div
                                    class="actualizacion__contenido__informacion__venta__arriba">
                                    <h4>Precio establecido:</h4>
                                    <h3>{{ actualizacion.venta?.precioVenta|
                                        currency }}</h3>
                                </div>
                                <div
                                    class="actualizacion__contenido__informacion__venta__abajo">
                                    @if(actualizacion.venta?.costo ===
                                    'vendedor'){
                                    <h4>!Envío a cargo tuyo!</h4>
                                    }
                                    @else {
                                    <h4>!Envío a cargo del {{
                                        actualizacion.venta?.costo }}!</h4>
                                    }
                                    <button>Descargar flyer</button>
                                </div>
                            </div>
                            }
                            @case(2){
                            <div
                                class="actualizacion__contenido__informacion__venta">
                                <div
                                    class="actualizacion__contenido__informacion__venta__arriba">
                                    <h4>Obtuviste por la venta de {{
                                        actualizacion.venta?.quantity }}
                                        productos:</h4>
                                    @if (actualizacion.venta) {
                                    <h3>{{ actualizacion.venta.precioVenta *
                                        actualizacion.venta.quantity | currency
                                        }}</h3>
                                    }
                                </div>
                                <div
                                    class="actualizacion__contenido__informacion__venta__abajo">
                                    <h4>Te sugerimos revisar los pasos a seguir
                                        para finalizar la venta</h4>
                                    <button>Estado de venta</button>
                                </div>
                            </div>
                            }
                            }
                            }
                            @else{
                            @switch (actualizacion.actualizacion.tipo) {
                            @case(0){
                            <div
                                class="actualizacion__contenido__informacion__container">
                                <div
                                    class="actualizacion__contenido__informacion__pregunta">
                                    <h4
                                        class="actualizacion__contenido__informacion__pregunta__texto">
                                        {{ actualizacion.pregunta?.pregunta }}
                                    </h4>
                                </div>
                                <div
                                    class="actualizacion__contenido__informacion__respuesta">
                                    <h5>↳</h5>
                                    <form
                                        class="actualizacion__contenido__informacion__respuesta__form"
                                        [formGroup]="respuestaForm"
                                        (ngSubmit)="responder()">
                                        <input title="Respuesta"
                                            class="form-control"
                                            placeholder="Responder ..."
                                            formControlName="Respuesta">
                                        <button type="submit">Enviar</button>
                                    </form>
                                </div>
                            </div>
                            }
                            @case(1){
                            HACER CUANDO SE HAGA EL ESTADO DE VENTA
                            }
                            @case(2){
                            <div
                                class="actualizacion__contenido__informacion__afiliacion">
                                <h4>Actualmente hay:</h4>
                                <h3>{{ linksAsociados(actualizacion.producto.id)
                                    }} links</h3>
                                <h4>que se han afiliado a tu producto</h4>
                                <button>Ir al estado de venta</button>

                            </div>
                            }
                            @case(3){
                            <div
                                class="actualizacion__contenido__informacion__venta">
                                <div
                                    class="actualizacion__contenido__informacion__venta__arriba">
                                    <h4>Obtuviste por la venta:</h4>
                                    <h3>{{ actualizacion.producto.price |
                                        currency }}</h3>
                                </div>
                                <div
                                    class="actualizacion__contenido__informacion__venta__abajo">
                                    <h4>Te sugerimos revisar los pasos a seguir
                                        para finalizar la venta</h4>
                                    <button>Estado de venta</button>
                                </div>
                            </div>
                            }
                            }
                            }
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            }
        </div>
        }
    </div>
</main>
