@import '../../../styles.scss';

button {
    background-color: $vendedores-botones;
}

.header {
  @extend .header;
  background-color: $header-vendedores-background;

  &__botones {
    @extend .botones;

    button {
      @extend .botones__boton;
      margin-left: 25px;
      height: 35px;
      font: 17px 500;
    }
  }
}
